* {
  margin: 0;
  padding: 0;
}

img {
  width: 350px;
  border-radius: 15px;
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

body {
  background-color: hsl(30, 54%, 90%);
}

p,
li {
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 390px;
  margin-top: 10vh;
}
