* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.card {
  background-color: white;
  border-radius: 20px;
  width: 500px;
  padding: 30px;
}

img {
  width: 500px;
  border-radius: 20px;
}

p,
li {
  font-size: 16px;
}

.presentation {
  padding-top: 15px;
}
