* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
}

html {
  color: white;
}

.name {
  padding-top: 8px;
  font-size: 25px;
}

.city {
  padding-top: 7px;
  color: hsl(75, 94%, 57%);
  font-size: 13px;
  font-weight: bold;
}

.description {
  font-size: 13px;
}

img {
  width: 80px;
  border-radius: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}

span {
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 12px;
  font-weight: bold;
  background-color: #333333;
  border-radius: 6px;
}

.card {
  padding: 20px 0 20px 0;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  height: 520px;
  border-radius: 20px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
